.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 733px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -50px;
  margin-bottom: 30px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 753px;
}

.u-section-1 .u-container-layout-1 {
  padding: 60px 0 60px 50px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 700;
  font-family: "Archivo Narrow";
  text-shadow: -11px 12px 8px rgba(26,26,26,0.15);
  margin: 98px 3px 0 -3px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 11px 78px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1rem;
  border-style: none;
  animation-duration: 1000ms;
  box-shadow: -9px 8px 0px 0 rgba(0,0,0,0.4);
  margin: 28px auto 0 0;
  padding: 10px 52px 10px 51px;
}

.u-section-1 .u-line-1 {
  top: 560px;
  transform-origin: right center 0px;
  position: absolute;
  width: 471px;
  border-style: dotted;
  left: auto;
  right: -97px;
  transform: rotate(337deg);
}

.u-section-1 .u-layout-cell-2 {
  min-height: 753px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 0 30px;
}

.u-section-1 .u-line-2 {
  left: 322px;
  top: 645px;
  height: 151px;
  transform-origin: center bottom 0px;
  position: absolute;
  width: 3px;
  border-style: dotted;
}

.u-section-1 .u-shape-1 {
  width: 452px;
  height: 452px;
  background-image: none;
  margin: 85px auto 0;
}

.u-section-1 .u-image-1 {
  width: 883px;
  height: 761px;
  margin: -583px auto 0 -108px;
}

.u-section-1 .u-shape-2 {
  width: 107px;
  height: 40px;
  margin: -326px auto 0 460px;
}

.u-section-1 .u-shape-3 {
  width: 107px;
  height: 40px;
  margin: -228px auto 0 49px;
}

.u-section-1 .u-image-2 {
  width: 205px;
  height: 128px;
  margin: -141px auto 0 42px;
}

.u-section-1 .u-line-3 {
  transform-origin: left center 0px;
  position: absolute;
  width: 153px;
  border-style: dotted;
  left: auto;
  top: 396px;
  right: 20px;
  transform: rotate(341deg);
}

.u-section-1 .u-image-3 {
  width: 114px;
  height: 55px;
  margin: 213px 45px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 812px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    top: 593px;
    transform-origin: left center 0px;
    width: 357px;
    right: -355px;
    transform: rotate(331deg);
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 812px;
  }

  .u-section-1 .u-line-2 {
    left: 212px;
    top: 661px;
  }

  .u-section-1 .u-shape-1 {
    width: 380px;
    height: 398px;
    margin-top: 52px;
    margin-right: 25px;
  }

  .u-section-1 .u-image-1 {
    height: 433px;
    object-position: 12.06% 50%;
    width: 503px;
    margin-top: -439px;
    margin-left: -15px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -88px;
    margin-right: 11px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -248px;
    margin-left: 52px;
  }

  .u-section-1 .u-image-2 {
    width: 203px;
    height: 123px;
    margin-top: -136px;
    margin-left: 52px;
  }

  .u-section-1 .u-line-3 {
    top: 344px;
    width: 137px;
    right: -1px;
    transform: rotate(330deg);
  }

  .u-section-1 .u-image-3 {
    margin-top: 229px;
    margin-right: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-line-1 {
    top: 573px;
    width: 342px;
    right: -277px;
  }

  .u-section-1 .u-line-2 {
    left: 30px;
    top: 672px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 282px;
    height: 298px;
    margin-top: 145px;
  }

  .u-section-1 .u-image-1 {
    height: 313px;
    width: 403px;
    margin-top: -325px;
    margin-right: 0;
    margin-left: -85px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -113px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -153px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 128px;
    height: 84px;
    margin-top: -112px;
    margin-left: 0;
  }

  .u-section-1 .u-line-3 {
    width: 153px;
    top: 382px;
    right: -48px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 142px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 575px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-line-1 {
    left: -66px;
    top: 1079px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 600px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 50px;
    padding-bottom: 60px;
    padding-left: 10px;
  }

  .u-section-1 .u-line-2 {
    left: auto;
    top: 519px;
    right: 261px;
  }

  .u-section-1 .u-shape-1 {
    width: 347px;
    height: 317px;
    margin-top: 68px;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    height: 449px;
    object-position: 43.07% 50%;
    width: 530px;
    margin-top: -393px;
    margin-right: auto;
    margin-left: -5px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -159px;
    margin-right: auto;
    margin-left: 359px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -220px;
    margin-left: 84px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -104px;
    margin-left: 84px;
  }

  .u-section-1 .u-line-3 {
    top: 276px;
    right: 48px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 193px;
    margin-right: auto;
    margin-left: 359px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1086px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 49px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 512px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 0;
  }

  .u-section-1 .u-line-1 {
    left: -26px;
    top: 905px;
    width: 330px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 525px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .u-section-1 .u-line-2 {
    margin-right: 133px;
  }

  .u-section-1 .u-shape-1 {
    height: 287px;
    width: 294px;
    margin-top: 26px;
    margin-right: 18px;
  }

  .u-section-1 .u-image-1 {
    height: 280px;
    margin-top: -313px;
    width: 330px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -120px;
    margin-right: 0;
    margin-left: 223px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -134px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-left: 0;
  }

  .u-section-1 .u-line-3 {
    top: 262px;
    right: 17px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 114px;
    margin-right: -3px;
    margin-left: 216px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 257px;
}

.u-section-2 .u-text-1 {
  margin: 0 0 42px;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 51px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 573px;
}

.u-section-3 .u-line-1 {
  left: auto;
  top: -28px;
  position: absolute;
  height: 475px;
  width: 3px;
  transform-origin: center top 0px;
  border-style: dotted;
  right: 319px;
}

.u-section-3 .u-line-2 {
  top: 461px;
  height: 93px;
  transform-origin: center top 0px;
  position: absolute;
  width: 3px;
  border-style: dotted;
  left: auto;
  right: 567px;
}

.u-section-3 .u-shape-1 {
  width: 146px;
  height: 146px;
  margin: 427px auto 0 79px;
}

.u-section-3 .u-group-1 {
  margin-top: -342px;
  margin-bottom: 0;
  min-height: 228px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-shape-2 {
  height: 139px;
  margin: 59px auto 0 -30px;
}

.u-section-3 .u-group-2 {
  width: 1066px;
  min-height: 390px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -461px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 65px 285px 0 50px;
}

.u-section-3 .u-shape-3 {
  width: 62px;
  height: 230px;
  margin: 19px auto 0 -14px;
}

.u-section-3 .u-image-1 {
  width: 112px;
  height: 46px;
  margin: -179px auto 0 513px;
}

.u-section-3 .u-image-2 {
  width: 203px;
  height: 99px;
  margin: -61px auto 0 270px;
}

.u-section-3 .u-form-1 {
  height: 147px;
  margin: -19px -133px 0 80px;
}

.u-section-3 .u-input-1 {
  letter-spacing: 5px;
}

.u-section-3 .u-btn-1 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  padding-left: 70px;
  padding-right: 70px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 1px;
  font-family: "Archivo Narrow";
  font-weight: 700;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: -287px -155px 0 101px;
}

.u-section-3 .u-shape-4 {
  width: 58px;
  height: 228px;
  background-image: none;
  margin: -55px -239px 0 auto;
}

.u-section-3 .u-shape-5 {
  width: 166px;
  height: 166px;
  margin: -27px 70px 46px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-3 .u-line-2 {
    top: 464px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 461px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -376px;
  }

  .u-section-3 .u-shape-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-2 {
    width: 940px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: -24px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -148px;
    margin-left: 490px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -63px;
    margin-left: 197px;
  }

  .u-section-3 .u-form-1 {
    height: 146px;
    margin-top: -2px;
    margin-right: -198px;
    margin-left: 37px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -304px;
    margin-right: -198px;
    margin-left: 37px;
  }

  .u-section-3 .u-shape-4 {
    margin-top: -82px;
    margin-right: -267px;
  }

  .u-section-3 .u-shape-5 {
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-3 .u-line-2 {
    top: 552px;
    right: 357px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 464px;
    margin-left: 46px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -379px;
  }

  .u-section-3 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-3 .u-shape-3 {
    margin-left: -20px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -127px;
    margin-left: 409px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -67px;
    margin-left: 103px;
  }

  .u-section-3 .u-form-1 {
    margin-top: -19px;
    margin-right: 36px;
    margin-left: 42px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -284px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-shape-4 {
    margin-top: -101px;
    margin-right: -22px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 461px;
    margin-right: 348px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: -25px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 153px;
    margin-left: 287px;
  }

  .u-section-3 .u-image-2 {
    width: 160px;
    height: 54px;
    margin-top: -43px;
    margin-left: 107px;
  }

  .u-section-3 .u-form-1 {
    width: 520px;
    margin-top: -11px;
    margin-right: 5px;
    margin-left: -5px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -358px;
    margin-left: -5px;
    margin-right: -5px;
  }

  .u-section-3 .u-shape-4 {
    margin-top: -152px;
    margin-right: -10px;
  }

  .u-section-3 .u-shape-5 {
    margin-top: -30px;
    margin-right: 0;
    margin-bottom: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-shape-1 {
    margin-top: 418px;
    margin-right: 194px;
    margin-left: 24px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -333px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: 12px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 116px;
    margin-left: 116px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -99px;
    margin-left: 92px;
  }

  .u-section-3 .u-form-1 {
    margin-top: 38px;
    margin-left: 0;
    margin-right: 0;
    width: 320px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -277px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-shape-4 {
    margin-top: -65px;
  }

  .u-section-3 .u-shape-5 {
    width: 132px;
    height: 132px;
    margin-top: -40px;
    margin-bottom: 60px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 485px;
}

.u-section-4 .u-text-1 {
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(66,84,101,0.4);
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: "Archivo Narrow";
  font-weight: 400;
  margin: 53px 139px 0 140px;
}

.u-section-4 .u-text-2 {
  letter-spacing: 0px;
  line-height: 1.4;
  font-size: 1.5rem;
  font-family: Lato, sans-serif;
  font-weight: 400;
  text-transform: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 213px;
}

.u-section-4 .u-group-1 {
  width: 795px;
  min-height: 362px;
  margin: 0 auto 0 153px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-shape-1 {
  width: 250px;
  height: 286px;
  margin: -86px auto 0 -42px;
}

.u-section-4 .u-form-1 {
  height: 265px;
  margin: -230px -21px 0 8px;
}

.u-section-4 .u-input-1 {
  background-image: none;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  font-size: 1.25rem;
  padding-left: 70px;
  padding-right: 70px;
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
}

.u-section-4 .u-text-3 {
  font-size: 0.5rem;
  margin: 72px 0 -28px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 65px;
    margin-left: 40px;
    margin-right: 39px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 72px;
    margin-right: 124px;
    margin-left: 102px;
  }

  .u-section-4 .u-group-1 {
    min-height: 450px;
    margin-top: -65px;
    margin-left: auto;
    margin-bottom: 19px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 0;
    margin-left: -106px;
  }

  .u-section-4 .u-form-1 {
    height: 257px;
    margin-top: -231px;
    margin-right: 18px;
    margin-left: -30px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 102px;
    margin-bottom: -18px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-4 .u-group-1 {
    width: 720px;
    min-height: 480px;
    margin-top: 20px;
    margin-right: 6px;
    margin-left: 0;
  }

  .u-section-4 .u-shape-1 {
    margin-left: -30px;
  }

  .u-section-4 .u-form-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.4375rem;
    margin-top: 58px;
    margin-right: -5px;
    margin-left: 5px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 0;
    margin-right: 5px;
    margin-left: -5px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 36px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -105px;
  }

  .u-section-4 .u-form-1 {
    margin-top: -228px;
    margin-right: -10px;
    margin-left: 10px;
    width: 520px;
  }

  .u-section-4 .u-text-3 {
    margin: 164px -10px 0 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.125rem;
    margin-top: 52px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-group-1 {
    margin-top: -39px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -30px;
    margin-left: 0;
  }

  .u-section-4 .u-form-1 {
    margin-top: -231px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-3 {
    margin-top: 90px;
    margin-right: 20px;
    margin-left: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 718px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1098px;
  margin: 147px 0 60px auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 540px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 499px;
  left: 0;
  right: auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 540px;
}

.u-section-5 .u-container-layout-2 {
  margin-bottom: 0;
  padding: 30px 80px 30px 0;
}

.u-section-5 .u-text-1 {
  font-size: 4.0625rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 161px 0 0;
}

.u-section-5 .u-text-2 {
  font-family: Archivo Narrow;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 14px 126px 0 0;
}

.u-section-5 .u-btn-1 {
  font-style: normal;
  background-image: none;
  text-transform: uppercase;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1.25rem;
  margin: 14px auto 0 0;
}

.u-section-5 .u-line-1 {
  top: 32px;
  height: 111px;
  transform-origin: center top 0px;
  position: absolute;
  width: 3px;
  border-style: dotted;
  left: 566px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 462px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 442px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-2 {
    font-family: "Archivo Narrow";
    margin-right: 47px;
  }

  .u-section-5 .u-line-1 {
    top: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 278px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 593px;
  }

  .u-section-5 .u-image-1 {
    width: 316px;
    height: 430px;
    object-position: 26.71% 50%;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 43px auto 0 -30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
    order: 1;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 963px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 25px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 530px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    width: 380px;
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    order: 0;
    min-height: 448px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 10px;
    margin-left: 113px;
  }

  .u-section-5 .u-line-1 {
    top: -19px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 848px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 462px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-image-1 {
    height: 362px;
    margin-top: 30px;
    margin-bottom: -30px;
    object-position: 0% 50%;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-5 .u-line-1 {
    top: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 691px;
}

.u-section-6 .u-line-1 {
  top: 4px;
  height: 96px;
  transform-origin: center bottom 0px;
  position: absolute;
  width: 3px;
  border-style: dotted;
  left: 567px;
}

.u-section-6 .u-group-1 {
  width: 202px;
  min-height: 526px;
  margin: 15px 37px 0 901px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-shape-1 {
  width: 126px;
  height: 528px;
  margin: 65px auto 0 46px;
}

.u-section-6 .u-shape-2 {
  width: 126px;
  height: 528px;
  margin: -528px auto 0 16px;
}

.u-section-6 .u-shape-3 {
  width: 118px;
  height: 523px;
  margin: -488px auto 0 -30px;
}

.u-section-6 .u-shape-4 {
  width: 118px;
  height: 523px;
  margin: -523px auto 0 -128px;
}

.u-section-6 .u-shape-5 {
  width: 147px;
  height: 488px;
  margin: -585px auto 0 -17px;
}

.u-section-6 .u-shape-6 {
  width: 41px;
  height: 66px;
  margin: -454px 31px 0 auto;
}

.u-section-6 .u-image-1 {
  width: 429px;
  height: 429px;
  background-image: url("img/4534689.png");
  background-position: 50% 50%;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: -410px 141px 0 auto;
}

.u-section-6 .u-text-1 {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 4.0625rem;
  margin: -461px 666px 0 0;
}

.u-section-6 .u-text-2 {
  font-weight: 400;
  font-family: "Archivo Narrow";
  font-size: 1.25rem;
  margin: 26px 719px 0 0;
}

.u-section-6 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  background-image: linear-gradient(to right, #4c7397, #2cccc4);
  border-style: none;
  font-weight: 700;
  margin: 16px auto 60px 0;
  padding: 12px 54px 14px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 748px;
  }

  .u-section-6 .u-line-1 {
    transform-origin: center top 0px;
    top: 0;
  }

  .u-section-6 .u-group-1 {
    margin-right: 0;
    margin-left: 738px;
  }

  .u-section-6 .u-shape-1 {
    margin-left: 16px;
  }

  .u-section-6 .u-image-1 {
    margin-right: 41px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: -456px;
    margin-right: 466px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 37px;
    margin-right: 519px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-6 .u-group-1 {
    margin-left: 518px;
  }

  .u-section-6 .u-image-1 {
    width: 332px;
    height: 332px;
    margin-top: -406px;
    margin-right: 0;
  }

  .u-section-6 .u-text-1 {
    margin-top: -368px;
    margin-right: 256px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 30px;
    margin-right: 360px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1225px;
  }

  .u-section-6 .u-group-1 {
    min-height: 561px;
    margin-left: 338px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-shape-3 {
    margin-left: -69px;
  }

  .u-section-6 .u-shape-5 {
    margin-left: -83px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -400px;
    margin-right: auto;
  }

  .u-section-6 .u-text-1 {
    margin-top: 185px;
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-6 .u-text-2 {
    width: 360px;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 150px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1156px;
  }

  .u-section-6 .u-line-1 {
    transform: rotate(360deg);
  }

  .u-section-6 .u-group-1 {
    margin-left: 138px;
  }

  .u-section-6 .u-image-1 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 154px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-6 .u-btn-1 {
    margin-bottom: 26px;
    margin-left: 50px;
  }
}.u-section-7 {
  background-image: linear-gradient(0deg, rgba(41,45,51,0.9), rgba(41,45,51,0.9)), url('img/g49165d9aa7ea83adab8446112ef4054b80143a0926e6477eb987f4c6127386011103264431e8bf2307e1f836d50ad6a20ac6950066cf26e6c1ad106ad9f6460c_1280.jpg');
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 488px;
}

.u-section-7 .u-text-1 {
  font-size: 6.25rem;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 76px 641px 0 279px;
}

.u-section-7 .u-text-2 {
  font-weight: 400;
  font-family: Archivo Narrow;
  margin: -96px 186px 0 428px;
}

.u-section-7 .u-text-3 {
  font-weight: 400;
  font-family: Archivo Narrow;
  font-size: 1.5rem;
  margin: 0 176px 0 437px;
}

.u-section-7 .u-text-4 {
  font-family: Archivo Narrow;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0 136px 0 201px;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 25px 330px 0 auto;
  padding: 11px 50px 11px 49px;
}

.u-section-7 .u-icon-1 {
  font-size: 1.3em;
}

.u-section-7 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 252px;
  min-width: 124px;
  margin: 38px 411px 60px auto;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

.u-section-7 .u-icon-4 {
  height: 100%;
}

.u-section-7 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 541px;
    margin-left: 179px;
  }

  .u-section-7 .u-text-2 {
    width: 527px;
    margin-left: 328px;
    margin-right: 86px;
  }

  .u-section-7 .u-text-3 {
    width: 527px;
    margin-right: 76px;
    margin-left: 337px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 36px;
    margin-left: 101px;
  }

  .u-section-7 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-7 .u-social-icons-1 {
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    width: auto;
    margin-right: 452px;
    margin-left: 48px;
  }

  .u-section-7 .u-text-2 {
    font-family: "Archivo Narrow";
    width: auto;
    margin-right: -1px;
    margin-left: 252px;
  }

  .u-section-7 .u-text-3 {
    font-family: "Archivo Narrow";
    width: auto;
    margin-right: 0;
    margin-left: 268px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 332px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-top: -86px;
    margin-right: 0;
    margin-left: 207px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 44px;
    margin-right: 44px;
  }

  .u-section-7 .u-text-4 {
    font-family: "Archivo Narrow";
    width: auto;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    width: 90px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-2 {
    width: 250px;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-top: 2px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 10px;
    margin-left: 0;
    padding: 10px 13px 12px 12px;
  }

  .u-section-7 .u-social-icons-1 {
    margin-top: 27px;
    margin-bottom: 41px;
  }
}.Analyze {
}