<footer class="page-footer dark">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Start: Footer Clean -->
                <footer class="footer-clean" style="background: #2d2f32;font-size: 16px;">
                    <div class="container">
                        <div class="row text-left" style="margin-right: 0;margin-left: 0;width: 100%;">
                            <!-- Start: About -->
                            <div class="col-sm-4 col-md-3 item" style="text-align: left;font-size: 16px;">
                                <h3 style="color: var(--light);max-width: 100%;text-align: left;font-size: 24px;">
                                    Product</h3>
                                <ul>
                                    <li><a href="{{ url_for('home') }}">Smartacus</a></li>
                                    <li><a href="{{ url_for('howtouse') }}">How to Use</a></li>
                                    <li><a href="{{ url_for('features') }}">Features</a></li>
                                </ul>
                            </div><!-- End: About -->
                            <!-- Start: About -->
                            <div class="col-sm-4 col-md-3 item">
                                <h3 style="color: var(--light);max-width: 100%;text-align: left;font-size: 24px;">
                                    About</h3>
                                <ul>
                                    <li style="text-align: left;"><a href="{{ url_for('about') }}">Company</a></li>
                                    <li style="text-align: left;"><a href="{{ url_for('about') }}">Team</a></li>
                                    <li style="text-align: left;"><a href="{{ url_for('about') }}">Legacy</a></li>
                                </ul>
                            </div><!-- End: About -->
                            <div class="col" style="background: #2c3032;"></div><!-- Start: Social Icons -->
                            <div class="col-lg-3 item social" style="color: var(--light);">
                                <p class="copyright" style="width: 450px;font-size: 20px;">All Rights Reserved |
                                    TECH-REX © 2021</p>
                            </div><!-- End: Social Icons -->
                        </div>
                    </div>
                </footer><!-- End: Footer Clean -->
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p style="width: 100%;">© 2021 | TECH-REX</p>
    </div>
</footer><!-- End: Footer Dark -->