<footer class="u-clearfix u-footer u-grey-5" id="sec-118e">
  <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
    <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
      <div class="u-gutter-0 u-layout">
        <div class="u-layout-row">
          <div
            class="u-align-center-md u-align-center-sm u-align-center-xl u-align-center-xs u-container-style u-layout-cell u-left-cell u-size-20 u-size-20-md u-layout-cell-1">
            <div class="u-container-layout u-container-layout-1">
              <p class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-custom-font u-font-oswald u-small-text u-text u-text-variant u-text-1"
                spellcheck="false">
                <span style="font-size: 1.875rem;">PRODUCT</span>
                <span style="font-size: 1.875rem;"></span>
                <br>
              </p>
              <div class="u-border-3 u-border-grey-dark-1 u-hidden-lg u-line u-line-horizontal u-line-1"></div>
              <p class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-custom-font u-font-oswald u-text u-text-2"
                spellcheck="false">
                <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1"
                  href="{{ url_for('home') }}" data-page-id="372948">Smartacus</a>
              </p>
              <p class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-custom-font u-font-oswald u-text u-text-3"
                spellcheck="false">
                <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-2"
                  href="{{ url_for('howitworks') }}" data-page-id="372946">How It Works</a>
              </p>
              <p class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-custom-font u-font-oswald u-text u-text-4"
                spellcheck="false">
                <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-3"
                  href="{{ url_for('geteducated') }}">Get Educated</a>
              </p>
            </div>
          </div>
          <div
            class="u-align-center u-container-style u-layout-cell u-shape-rectangle u-size-20 u-size-20-md u-layout-cell-2">
            <div class="u-container-layout u-valign-top-xs u-container-layout-2">
              <p class="u-custom-font u-font-oswald u-small-text u-text u-text-variant u-text-5"
                data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                data-animation-direction="">ABOUT<br>
              </p>
              <div
                class="u-border-3 u-border-grey-dark-1 u-hidden-lg u-hidden-md u-hidden-sm u-hidden-xs u-line u-line-horizontal u-line-2">
              </div>
              <p class="u-custom-font u-font-oswald u-text u-text-6" spellcheck="false">
                <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-4"
                  href="{{ url_for('about') }}" data-page-id="372949">Company<br>
                </a>
              </p>
              <p class="u-custom-font u-font-oswald u-text u-text-7" spellcheck="false">
                <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-5"
                  href="{{ url_for('about') }}" data-page-id="372949">Team<br>
                </a>
              </p>
              <p class="u-custom-font u-font-oswald u-text u-text-8" spellcheck="false">
                <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-6"
                  href="{{ url_for('about') }}" data-page-id="372949">Legacy</a>
              </p>
            </div>
          </div>
          <div
            class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-container-style u-layout-cell u-right-cell u-size-20 u-size-20-md u-layout-cell-3">
            <div class="u-container-layout u-container-layout-3">
              <img src="../static/img/SMARTACUS1.png" alt="" class="u-image u-image-default u-image-1"
                data-image-width="1001" data-image-height="260" data-href="{{ url_for('home') }}" data-page-id="372948">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>