<footer class="u-clearfix u-footer u-grey-5" id="sec-118e">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div
              class="u-align-center-sm u-align-center-xs u-align-left-md u-align-left-xl u-container-style u-layout-cell u-left-cell u-size-20 u-size-20-md u-layout-cell-1">
              <div class="u-container-layout u-container-layout-1">
                <p class="u-custom-font u-font-oswald u-small-text u-text u-text-variant u-text-1" spellcheck="false">
                  <span style="font-size: 1.875rem;">PRODUCT</span>
                  <span style="font-size: 1.875rem;"></span>
                  <br>
                </p>
                <div class="u-border-3 u-border-grey-dark-1 u-line u-line-horizontal u-line-1"></div>
                <a style="color:black" href="{{ url_for('home') }}" class="u-custom-font u-font-oswald u-text u-text-2" spellcheck="false">Smartacus</a><br>
                <a style="color:black" class="u-custom-font u-font-oswald u-text u-text-3" href="{{ url_for('howitworks') }}" spellcheck="false">How It Works
                </a><br>
                <a style="color:black" class="u-custom-font u-font-oswald u-text u-text-4" href="{{ url_for('geteducated') }}" spellcheck="false"><nobr>Get Educated</nobr></a>
              </div>
            </div>
            <div
              class="u-align-center-sm u-align-right-md u-container-style u-layout-cell u-shape-rectangle u-size-20 u-size-20-md u-layout-cell-2">
              <div class="u-container-layout u-container-layout-2">
                <p class="u-custom-font u-font-oswald u-small-text u-text u-text-variant u-text-5"
                  data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                  data-animation-direction="">ABOUT<br>
                </p>
                <div class="u-border-3 u-border-grey-dark-1 u-line u-line-horizontal u-line-2"></div>
                <a style="color:black" href="{{ url_for('about') }}" class="u-custom-font u-font-oswald u-text u-text-6" spellcheck="false">Company
                </a><br>
                <a style="color:black" href="{{ url_for('about') }}"class="u-custom-font u-font-oswald u-text u-text-7" spellcheck="false">Team
                </a><br>
                <p class="u-custom-font u-font-oswald u-text u-text-8" spellcheck="false">Legacy</p>
              </div>
            </div>
            <div
              class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-container-style u-layout-cell u-right-cell u-size-20 u-size-20-md u-layout-cell-3">
              <div class="u-container-layout u-container-layout-3">
                <a href="{{ url_for('home') }}" class="u-image u-logo u-image-1" data-image-width="1500"
                  data-image-height="1500">
                  <img src="../static/img/SMARTACUS.png?version=" class="u-logo-image u-logo-image-1"
                    data-image-width="329.1667">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</footer>