<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Smartacus</title>
    <link rel="shortcut icon" type="image/jpg" href="../static/img/S.png"/>
    <meta name="description" content="Popular travel website trip advisor was flooded with millions of spam hotel reviews in 2019, travellers were misled by these spam reviews and ended up choosing accommodations that did not meet their expectations. It is particularly hard for humans to distinguish spam review from genuine reviews. 

We help our customers detect which is the deceptive reviews and notify them as soon as they open the webpage. The review contents will be sent back to our server side and have a judgement immediately.">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="../static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../static/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="../static/css/Footer-Clean.css">
    <link rel="stylesheet" href="../static/css/Highlight-Clean.css">
    <link rel="stylesheet" href="../static/css/Highlight-Phone.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="../static/css/smoothproducts.css">
    <link rel="stylesheet" href="../static/css/Team-Clean.css">
    <link rel="stylesheet" href="../static/css/Team-Grid.css">
</head>

<body style="background: #eeeeee;">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" style="background: rgb(55,166,246);filter: saturate(90%);max-width: 100%;">
        <div class="container"><a href="{{ url_for('home') }}"><img class="img-fluid" src="../static/img/Project%20Smartacus.png?h=138cc65f325fb87e72c3153d47e203ba" width="220" height="90"/></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="{{ url_for('home') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('features') }}">Features</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('howtouse') }}">How to Use</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page landing-page" style="margin-bottom: 5%;">
        <section class="clean-block clean-hero" style="color: rgba(36,37,37,0.88);font-weight: normal;background: url(&quot;/static/img/pexels-quark-studio-3201921.jpg?h=0101dda14b1207525ea260179f1cea12&quot;) center / cover, radial-gradient(black 53%, white);">
            <div class="text">
                <p style="width: 100%;font-size: 150%;font-weight: bold;">Identify fake reviews from the hotels, restaurants, cafes and bars.&nbsp;<strong>Save yourself from a horrible experience.</strong></p>
                <form action="{{ url_for('predict')}}" method="POST">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" href="#review" data-toggle="tab">Review</a></li>
                        <li class="nav-item"><a class="nav-link" href="#url" data-toggle="tab">Url</a></li>
                        <!-- <li role="presentation"><a href="#">Messages</a></li> -->
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="review">
                            <div style="padding:10px;">
                                <p style="text-align: center;max-width: 100%;width: 100%;font-size: 150%;font-weight: bold;"></p><textarea name="message" class="flex-grow-1 flex-shrink-1 flex-fill justify-content-center align-items-center align-content-center align-self-center flex-wrap" style="width: 100%;margin-left: 0%;margin-right: 0;margin-bottom: 5%;" placeholder="Paste a review here." rows="5"></textarea>
                                <button type="submit" class="btn btn-primary btn-block btn-large">Check Review</button>
                                <br>        </br></br>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="url">
                            <div style="padding:10px;">
                                Hello
                            </div>
                        </div>
                    </div>
                    <!-- <p style="text-align: center;max-width: 100%;width: 100%;font-size: 150%;font-weight: bold;"></p><textarea name="message" class="flex-grow-1 flex-shrink-1 flex-fill justify-content-center align-items-center align-content-center align-self-center flex-wrap" style="width: 100%;margin-left: 0%;margin-right: 0;margin-bottom: 5%;" placeholder="Paste a review here." rows="5"></textarea>
                        <button type="submit" class="btn btn-primary btn-block btn-large">Check Review</button>
                        <br>        </br></br> -->

                    {% if word_count is not none and word_count < 20 and word_count > 0 %}
                        <h4 style="color:rgb(255, 0, 0);"><strong>The minimum of words is 20, please input more! </strong></h4>
                    {% elif language is not none and language != 'en' %}
                        <h4 style="color:rgb(255, 0, 0);"><strong>Please enter in English! </strong></h4>
                    {% else %}
                        {% if prediction == 0 %}
                        <h4 style="color:rgb(255, 0, 0);"><strong>This is a Fake Review! </strong></h4>
                        {% elif prediction == 1 %}
                        <h4 style="color:rgb(1, 250, 134)"><strong>Don't worry, it's not a Fake Review </strong></h4>
                        {% endif %}
                    {% endif %}
                <!-- This should be improved that if there's 0 reviews should not be visible -->
                </form> </div>
        </section>
        <section>
            <div class="container" style="text-align: center;margin-top: 5%;">
                <h1 style="font-size: 200%;margin-bottom: 5%;font-weight: bold;">Online reviews may be fake, but their effects are real.</h1>
            </div>
            <div class="container" style="text-align: center;margin-top: 5%;">
                <h4 style="width: 100%;">Total <span style="font-size: larger; font-weight: bolder">{{ total_reviews_count }}</span> reviews have been submitted, with <span style="font-size: larger; font-weight: bolder">{{ perc_true_review }}%</span> of them were REAL.</h4>

            </div>
        </section>
    </main><!-- Start: Footer Dark -->
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col">
                    <!-- Start: Footer Clean -->
                    <footer class="footer-clean" style="background: #2d2f32;">
                        <div class="container">
                            <div class="row text-left" style="margin-right: 0;margin-left: 0;width: 100%;">
                                <!-- Start: About -->
                                <div class="col-sm-4 col-md-3 item" style="text-align: left;">
                                    <h3 style="color: var(--light);max-width: 100%;text-align: left;">Product</h3>
                                    <ul>
                                        <li><a href="{{ url_for('home') }}">Smartacus</a></li>
                                        <li><a href="{{ url_for('howtouse') }}">How to Use</a></li>
                                        <li><a href="{{ url_for('features') }}">Features</a></li>
                                    </ul>
                                </div><!-- End: About -->
                                <!-- Start: About -->
                                <div class="col-sm-4 col-md-3 item">
                                    <h3 style="color: var(--light);max-width: 100%;text-align: left;">About</h3>
                                    <ul>
                                        <li style="text-align: left;"><a href="{{ url_for('about') }}">Company</a></li>
                                        <li style="text-align: left;"><a href="{{ url_for('about') }}">Team</a></li>
                                        <li style="text-align: left;"><a href="{{ url_for('about') }}">Legacy</a></li>
                                    </ul>
                                </div><!-- End: About -->
                                <div class="col" style="background: #2c3032;"></div><!-- Start: Social Icons -->
                                <div class="col-lg-3 item social" style="color: var(--light);">
                                    <p class="copyright" style="width: 250.5px;">All Rights Reserved | TECH-REX © 2021</p>
                                </div><!-- End: Social Icons -->
                            </div>
                        </div>
                    </footer><!-- End: Footer Clean -->
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p style="width: 100%;">© 2021 | TECH-REX</p>
        </div>
    </footer><!-- End: Footer Dark -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="../static/js/smoothproducts.min.js"></script>
    <script src="../static/js/theme.js"></script>
</body>

</html>