<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Smartacus</title>
    <link rel="shortcut icon" type="image/jpg" href="../static/img/S.png" />
    <meta name="description"
        content="Popular travel website trip advisor was flooded with millions of spam hotel reviews in 2019, travellers were misled by these spam reviews and ended up choosing accommodations that did not meet their expectations. It is particularly hard for humans to distinguish spam review from genuine reviews.

We help our customers detect which is the deceptive reviews and notify them as soon as they open the webpage. The review contents will be sent back to our server side and have a judgement immediately.">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css?h=93b9126d9897228aed9a2962d27e678d">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="../static/fonts/font-awesome.min.css?h=5ef01a1d3ea555acf3dc221bf2ad88a9">
    <link rel="stylesheet" href="../static/fonts/simple-line-icons.min.css?h=5ef01a1d3ea555acf3dc221bf2ad88a9">
    <link rel="stylesheet" href="../static/css/Footer-Clean.css?h=80440af34c3a73cbe2f06ff4585d315b">
    <link rel="stylesheet" href="../static/css/Highlight-Clean.css?h=22f5c37d9256feae966552e68b9ff2f3">
    <link rel="stylesheet" href="../static/css/Highlight-Phone.css?h=34cb454057667119be71974590677f5d">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="../static/css/smoothproducts.css?h=38a515b6b30123300b3619cce6411cec">
    <link rel="stylesheet" href="../static/css/Team-Clean.css?h=96674734e5c3c822192833a73a70ff3f">
    <link rel="stylesheet" href="../static/css/Team-Grid.css?h=037c10c4e83bd71c345e85c360a593fe">
</head>

<body>
    <h1 style="text-align: center">Welcome to Project Smartacus!</h1>


    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <form method='POST'>
                    <div class="form-group" style="size: 50em"><label for="username">Username</label><input
                            class="form-control" type="text" id="name" name="username" value="test" readonly></div>
                    <div class="form-group" style="size: 50em"><label for="pw">Password</label><input
                            class="form-control" type="password" id="pw" name="pw"></div>
                    <div class="form-group" style="size: 20em"><button class="btn btn-primary btn-block" type="submit"
                            name="submit">Submit</button></div>
                </form>
            </div>
        </section>
    </main>
    <script src="../static/js/jquery.min.js?h=89312d34339dcd686309fe284b3f226f"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js?h=ba42258394f86cd7822f0e850e2d60b1"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="../static/js/smoothproducts.min.js?h=975b2635c9a06eae9f47d6cae8158a12"></script>
    <script src="../static/js/theme.js?h=417b03f5f0a4f9f27f8c248f532eb5af"></script>
</body>

</html>