<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar"
    style="background: rgb(55,166,246);filter: saturate(90%);max-width: 100%;padding-right: 10%;padding-left: 10%;">
    <div class="container-fluid">
        <form id="header_search_box" action="{{ url_for('results')}}" method="POST" target="_blank">
            <div class="d-inline-block" style="width: 600px;">
                <a href="{{ url_for('home') }}">
                    <img class="img-fluid"
                        src="../static/img/Project%20Smartacus.png?h=138cc65f325fb87e72c3153d47e203ba" width="220"
                        height="90" />
                </a>
                <div class="form-group form-inline">
                    <input type="text" placeholder="https://www." name="urlinput" class="form-control">
                    <button class="btn btn-outline-light btn-sm form-control" role="button" type="submit"
                        style="/*font-weight: bold;*/background: rgb(234,155,105);margin-top: 0%;padding-top: 6px;padding-bottom: 4px;">Analyze</button>
                </div>
            </div><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span
                    class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        </form>
        <div class="collapse navbar-collapse" id="navcol-1" style="max-width: 45%;width: 593px;">
            <ul class="navbar-nav ml-auto" style="width: 1000px;max-width: 100%;font-size: 16px;">
                <li class="nav-item" style="width: 150px;"><a
                        class="nav-link d-xl-flex justify-content-xl-center active" href="{{ url_for('home') }}"
                        style="width: 150px;font-size: 16px;">Home</a></li>
                <li class="nav-item" style="width: 150px;font-size: 16px;"><a
                        class="nav-link d-xl-flex justify-content-xl-center" href="{{ url_for('howtouse') }}"
                        style="width: 150px;font-size: 16px;">How IT WORKS</a></li>
                <li class="nav-item" style="width: 150px;"><a class="nav-link d-xl-flex justify-content-xl-center"
                        href="{{ url_for('features') }}" style="width: 150px;font-size: 16px;">Features</a></li>
                <li class="nav-item" style="width: 150px;"><a class="nav-link d-xl-flex justify-content-xl-center"
                        href="{{ url_for('about') }}" style="width: 150px;font-size: 16px;">About Us</a></li>
                <li class="nav-item" style="width: 150px;"><a
                        class="nav-link text-center d-xl-flex justify-content-xl-center" href="{{ url_for('contact') }}"
                        style="width: 150px;font-size: 16px;text-align: center;">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>